<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Coronavirus Tracker</h1>
    <p>Diese Anwendung listet die Anzahl an positiv gemeldeten Coronainfektionen</p>


    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Anzahl insgesamt gemeldeter Fälle Stand heut.</p>
        <hr class="my-4">
        <p>
            <span>Neu gemeldete Fälle seit dem Vortag:</span>
            <span th:text="${totalNewCases}"></span>
        </p>
    </div>

    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total Cases Reported</th>
            <th>Veränderung zum Vortag</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>

</body>

</html>